* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body:before {
  content: '';
  display: inline-block;
  background-image: deprecated-webkit-gradient(linear, left top, left bottom, transparent 0, #eeeeee 0, #eeeeee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, transparent 100.0%);
  background-image: -webkit-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, transparent 100.0%);
  background-image: linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, transparent 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1; }
  @media screen and (min-width: 40em) {
    body:before {
      background-image: deprecated-webkit-gradient(linear, left top, left bottom, transparent 0, #eeeeee 0, #eeeeee 19.43277%, transparent 19.43277%, transparent 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, transparent 46.28851%, transparent 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, transparent 73.14426%, transparent 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, transparent 100%);
      background-image: -webkit-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 19.43277%, transparent 19.43277%, transparent 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, transparent 46.28851%, transparent 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, transparent 73.14426%, transparent 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, transparent 100%);
      background-image: -moz-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 19.43277%, transparent 19.43277%, transparent 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, transparent 46.28851%, transparent 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, transparent 73.14426%, transparent 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, transparent 100%);
      background-image: -ms-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 19.43277%, transparent 19.43277%, transparent 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, transparent 46.28851%, transparent 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, transparent 73.14426%, transparent 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, transparent 100%);
      background-image: -o-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 19.43277%, transparent 19.43277%, transparent 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, transparent 46.28851%, transparent 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, transparent 73.14426%, transparent 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, transparent 100%);
      background-image: linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 19.43277%, transparent 19.43277%, transparent 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, transparent 46.28851%, transparent 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, transparent 73.14426%, transparent 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, transparent 100%); } }
  @media screen and (min-width: 53.75em) {
    body:before {
      background-image: deprecated-webkit-gradient(linear, left top, left bottom, transparent 0, #eeeeee 0, #eeeeee 9.36867%, transparent 9.36867%, transparent 12.94733%, #eeeeee 12.94733%, #eeeeee 22.316%, transparent 22.316%, transparent 25.89467%, #eeeeee 25.89467%, #eeeeee 35.26334%, transparent 35.26334%, transparent 38.842%, #eeeeee 38.842%, #eeeeee 48.21067%, transparent 48.21067%, transparent 51.78933%, #eeeeee 51.78933%, #eeeeee 61.158%, transparent 61.158%, transparent 64.73666%, #eeeeee 64.73666%, #eeeeee 74.10533%, transparent 74.10533%, transparent 77.684%, #eeeeee 77.684%, #eeeeee 87.05267%, transparent 87.05267%, transparent 90.63133%, #eeeeee 90.63133%, #eeeeee 100.0%, transparent 100.0%);
      background-image: -webkit-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 9.36867%, transparent 9.36867%, transparent 12.94733%, #eeeeee 12.94733%, #eeeeee 22.316%, transparent 22.316%, transparent 25.89467%, #eeeeee 25.89467%, #eeeeee 35.26334%, transparent 35.26334%, transparent 38.842%, #eeeeee 38.842%, #eeeeee 48.21067%, transparent 48.21067%, transparent 51.78933%, #eeeeee 51.78933%, #eeeeee 61.158%, transparent 61.158%, transparent 64.73666%, #eeeeee 64.73666%, #eeeeee 74.10533%, transparent 74.10533%, transparent 77.684%, #eeeeee 77.684%, #eeeeee 87.05267%, transparent 87.05267%, transparent 90.63133%, #eeeeee 90.63133%, #eeeeee 100.0%, transparent 100.0%);
      background-image: -moz-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 9.36867%, transparent 9.36867%, transparent 12.94733%, #eeeeee 12.94733%, #eeeeee 22.316%, transparent 22.316%, transparent 25.89467%, #eeeeee 25.89467%, #eeeeee 35.26334%, transparent 35.26334%, transparent 38.842%, #eeeeee 38.842%, #eeeeee 48.21067%, transparent 48.21067%, transparent 51.78933%, #eeeeee 51.78933%, #eeeeee 61.158%, transparent 61.158%, transparent 64.73666%, #eeeeee 64.73666%, #eeeeee 74.10533%, transparent 74.10533%, transparent 77.684%, #eeeeee 77.684%, #eeeeee 87.05267%, transparent 87.05267%, transparent 90.63133%, #eeeeee 90.63133%, #eeeeee 100.0%, transparent 100.0%);
      background-image: -ms-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 9.36867%, transparent 9.36867%, transparent 12.94733%, #eeeeee 12.94733%, #eeeeee 22.316%, transparent 22.316%, transparent 25.89467%, #eeeeee 25.89467%, #eeeeee 35.26334%, transparent 35.26334%, transparent 38.842%, #eeeeee 38.842%, #eeeeee 48.21067%, transparent 48.21067%, transparent 51.78933%, #eeeeee 51.78933%, #eeeeee 61.158%, transparent 61.158%, transparent 64.73666%, #eeeeee 64.73666%, #eeeeee 74.10533%, transparent 74.10533%, transparent 77.684%, #eeeeee 77.684%, #eeeeee 87.05267%, transparent 87.05267%, transparent 90.63133%, #eeeeee 90.63133%, #eeeeee 100.0%, transparent 100.0%);
      background-image: -o-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 9.36867%, transparent 9.36867%, transparent 12.94733%, #eeeeee 12.94733%, #eeeeee 22.316%, transparent 22.316%, transparent 25.89467%, #eeeeee 25.89467%, #eeeeee 35.26334%, transparent 35.26334%, transparent 38.842%, #eeeeee 38.842%, #eeeeee 48.21067%, transparent 48.21067%, transparent 51.78933%, #eeeeee 51.78933%, #eeeeee 61.158%, transparent 61.158%, transparent 64.73666%, #eeeeee 64.73666%, #eeeeee 74.10533%, transparent 74.10533%, transparent 77.684%, #eeeeee 77.684%, #eeeeee 87.05267%, transparent 87.05267%, transparent 90.63133%, #eeeeee 90.63133%, #eeeeee 100.0%, transparent 100.0%);
      background-image: linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 9.36867%, transparent 9.36867%, transparent 12.94733%, #eeeeee 12.94733%, #eeeeee 22.316%, transparent 22.316%, transparent 25.89467%, #eeeeee 25.89467%, #eeeeee 35.26334%, transparent 35.26334%, transparent 38.842%, #eeeeee 38.842%, #eeeeee 48.21067%, transparent 48.21067%, transparent 51.78933%, #eeeeee 51.78933%, #eeeeee 61.158%, transparent 61.158%, transparent 64.73666%, #eeeeee 64.73666%, #eeeeee 74.10533%, transparent 74.10533%, transparent 77.684%, #eeeeee 77.684%, #eeeeee 87.05267%, transparent 87.05267%, transparent 90.63133%, #eeeeee 90.63133%, #eeeeee 100.0%, transparent 100.0%); } }

button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477dca;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

h1 {
  color: #000; }

h2 {
  color: #c00;
  border-bottom-color: #ccc; }

h3 {
  color: #888; }

blockquote {
  font-size: 2em;
  font-style: italic;
  padding: 1em 2em;
  color: #000;
  border-left: 5px solid #ccc; }
  blockquote p {
    margin: 0; }
  blockquote cite {
    font-size: .5em;
    font-style: normal;
    font-weight: bold;
    color: #888; }

::-moz-selection {
  background: #c00;
  color: #fff; }

::selection {
  background: #c00;
  color: #fff; }

a, a:hover, a:focus, a:active, a:visited {
  color: #c00;
  text-decoration: none; }
a:hover, a:focus {
  text-decoration: underline; }

.deck-container {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.75em;
  background: #fff; }
  .deck-container > .slide {
    padding: 0 48px; }

.slide {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .slide:after {
    content: "";
    display: table;
    clear: both; }
  .slide:after {
    content: "";
    display: table;
    clear: both; }
  .slide .deck-before, .slide .deck-previous {
    opacity: 0.4; }
    .slide .deck-before:not(.deck-child-current) .deck-before, .slide .deck-before:not(.deck-child-current) .deck-previous, .slide .deck-previous:not(.deck-child-current) .deck-before, .slide .deck-previous:not(.deck-child-current) .deck-previous {
      opacity: 1; }
  .slide .deck-child-current {
    opacity: 1; }
  .slide section {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .slide section:last-child {
      margin-right: 0; }

.deck-prev-link, .deck-next-link {
  background: #ccc;
  font-family: serif; }
  .deck-prev-link, .deck-prev-link:hover, .deck-prev-link:focus, .deck-prev-link:active, .deck-prev-link:visited, .deck-next-link, .deck-next-link:hover, .deck-next-link:focus, .deck-next-link:active, .deck-next-link:visited {
    color: #fff; }
  .deck-prev-link:hover, .deck-prev-link:focus, .deck-next-link:hover, .deck-next-link:focus {
    background: #c00;
    text-decoration: none; }

.deck-status {
  font-size: 0.6666em; }

.deck-menu .slide {
  background: #eee; }
.deck-menu .deck-current, .no-touch .deck-menu .slide:hover {
  background: #ddf; }
